name: Lint

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.4.2

    - name: Setup Node.js environment
      uses: actions/setup-node@v3.1.1
      with:
        node-version: ^12.20 || >=14

    - name: Setup PNPM
      uses: pnpm/action-setup@v2.2.1
      with:
        version: 7.0.0-rc.9
        run_install: true

    - run: pnpm lint
